GOOGLE_CLOUD_TTS_API_KEY=your_google_cloud_tts_api_key
GOOGLE_CLOUD_TTS_LANG=en-US
GOOGLE_CLOUD_TTS_VOICE=en-US-Neural2-F
từ vựng không có theo cấp độ từ a1 - b2 như tiếng anh, mở đầu vào tự vựng của tiếng Trung là vào học luôn 1/15 câu, ngữ pháp của tiếng trung cũng vậy không có lý thuyết hay cấp 